.navbar {
    grid-area: nav;
    background-color: burlywood;
}
.item {
    color: white;
}
/*button {*/
/*    border: none;*/
/*    background: none;*/
/*    color: white;*/
/*    outline: none;*/
/*}*/
